notebooks/*.png
.ipynb_checkpoints

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bcf
*.fdb_latexmk
*.run.xml
*.fls
thesis/thesis.pdf
*.sav
*.bak
*.ps

*~
\#*#
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
thesis/sections/*.pdf
*.run.xml
*.toc
